<div class="portfolioProjects">
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
      </div>
    </div> -->
      <div class="col-xs-12 portfolio-item">
        <a href="https://garrettgraham.github.io/CommitsTimeline/index.html">
        <!-- <a ui-sref="views/timeline.html" ng-click="show()" class="portfolio-link" data-toggle="modal"> -->
          <img src="img/portfolio/verticalTimeline.png" class="img-responsive firstProject" alt="GitHub Commits timeline">
        </a>
      </div>
      <div class="col-xs-12 portfolio-item">
        <a href="https://garrettgraham.github.io/TIY-Mashup/" class="portfolio-link" data-toggle="modal">
          <img src="img/portfolio/eleanorRoosevelt.png" class="img-responsive secondProject" alt="Eleanor Roosevelt Quotes Rotator">
        </a>
      </div>
      <div class="col-xs-12 portfolio-item">
        <a href="https://theyogime.firebaseapp.com/#/" class="portfolio-link" data-toggle="modal">
          <img src="img/portfolio/theYogiMe.png" class="img-responsive thirdProject" alt="The Yogi Me Project">
        </a>
      </div>
    </section>
</div>
