<div class="portfolioProjects">
  <!-- Portfolio Grid Section -->
    <div class="col-xs-12 portfolio-item">
      <h2 class="projectsTitle">Projects</h2>
      <section ng-repeat="project in projects" class="projectBox">
        <a href="{{project.demo.url}}" target="_blank">
          <!-- <a ui-sref="views/timeline.html" ng-click="show()" class="portfolio-link" data-toggle="modal"> -->
          <img src="img/portfolio/{{project.image}}.png" class="img-responsive projects" alt="{{project.image}}">
        </a>
        <h4>{{project.title}}</h4>
        <p>{{project.text}}</p>
        <ul class="list-inline techStack">
          <li ng-repeat="tech in project.tech">
            <figure>
          <img src="img/{{tech}}.png" alt="{{tech}}" class="thumbnail"/>
        </figure>
          </li>
        </ul>
        <ul class="list-inline">
          <li>GitHub:
            <strong><a href="{{project.github.url}}" target="_blank">Project Repository</a>
            </strong>
          </li>
          <li>Date:
            <strong>{{project.date}}</strong>
          </li>
        </ul>
      </section>
    </div>
</div>
